@import url('assets/grid/grid.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('assets/magnific-popup/magnific-popup.css');
@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700');

@font-face {
  font-family: 'aniukbold';
  src: url('assets/fonts/aniuk-bold-webfont.woff2') format('woff2'),
  url('assets/fonts/aniuk-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}



@font-face {
  font-family: 'aniuk';
  src: url('assets/fonts/aniuk-heavy-webfont.woff2') format('woff2'),
  url('assets/fonts/aniuk-heavy-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}




@font-face {
  font-family: 'aniuk';
  src: url('assets/fonts/aniuk-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/aniuk-regular-webfont.woff') format('woff');
  font-weight:400;
  font-style: normal;

}




@font-face {
  font-family: 'b_titrbold';
  src: url('assets/fonts/btitrbd-webfont.woff2') format('woff2'),
  url('assets/fonts/btitrbd-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}




@font-face {
  font-family: 'margueriteregular';
  src: url('assets/fonts/marguerite-webfont.woff2') format('woff2'),
  url('assets/fonts/marguerite-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

body{
  background-size: auto !important;
  background-repeat: repeat !important;
  background-position: center center !important;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 700px){
    background-size: 50px !important;
  }
}


*{
  &:focus{
    outline: none !important;
  }
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  height: auto;
}


section{
  padding:50px 0;
}

.desktop-only{
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}

.mobile-only{
  display: block;
  @media screen and (min-width: 768px){
    display: none;
  }
}