.footer{
//  padding:90px 0 75px;
  overflow: hidden;
  @media screen and (min-width: 576px){
    padding:90px 0 75px;
  }
.footer-logo-container{
  text-align: center;
  padding-top: 15px;
  @media screen and (min-width: 576px){
    text-align: left;
    top:50%;
    width: 50%;
    position: absolute;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    left:-50px;
    height: auto;
    z-index: 9;
    padding-top: 0;
  }
  .custom-logo-link{
    display: inline-block;
    max-width: 350px;
    img{
      max-width: 140px;
      height:auto;
      max-height: 100%;
      display: block;
      @media screen and (min-width: 576px){
        min-width: 220px;
        max-width: 100%;
      }
    }
  }
}



  .footer-content-wrapper{
    background: #D0C2DF;
    border-top:2px solid #705134;
    border-bottom:2px solid #705134;
    position: relative;
    padding: 20px 0;
    @media screen and (min-width: 576px){
      border-top:5px solid #705134;
      border-bottom:5px solid #705134;
    }
    &:after,&:before{
      position: absolute;
      content: '';
      display: block;
      background: url('assets/images/dotted-border.png');
      height: 5px;
      width: 100%;
      background-size: contain !important;
      background-repeat: repeat-x;
      left:0;
      @media screen and (min-width: 576px){
        height: 10px;
      }
    }
    &:after{
      top:5px;
    }
    &:before{
      bottom: 5px;
    }
  }
}


.footer-menu-container{
  @media screen and (min-width: 576px){
    min-height: 110px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: both;
    overflow: hidden;
    padding: 15px 0 0px 0;
    text-align: center;
    @media screen and (min-width: 576px){
     text-align: left;
    }
    .menu-item{
      margin-bottom: 10px;
      @media screen and (min-width: 576px){
        width: 50%;
        float: left;
      }
      a{
        color:#fff;
        font-family: 'aniuk';
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
          color:#5D4526;
        }
      }
    }
  }
}


.footer-content{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  .footer-logo-container{
    -webkit-box-ordinal-group:3;
    -webkit-order:2;
    -ms-flex-order:2;
    order:2;
  }
  @media screen and (min-width: 576px) {
    display: block;
  }
}
