.main-menu-wrapper {
  background: #D0C2DF;
  border-top:2px solid #705134;
  border-bottom:2px solid #705134;
  position: relative;
  &:after,&:before{
    position: absolute;
    content: '';
    display: block;
    background: url('assets/images/dotted-border.png');
    background-size: contain !important;
    height: 6px;
    width: 100%;
    background-repeat: repeat-x;
    left:0;
  }
  &:after{
    top:5px;
  }
  &:before{
    bottom: 5px;
  }
  .menu-container {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    .main-logo-container{
      position:relative;
      width: 260px;
      height: 88px;
      .custom-logo-link{
        display: block;
        img{
          position: absolute;
          top:-35px;
          z-index: 9999;
          @media screen and (min-width: 992px){
            top:-75px;
          }
        }
      }
    }
    .left-menu-container,.right-menu-container{
      -webkit-box-flex:1;
      -webkit-flex:1;
      -ms-flex:1;
      flex:1;
      ul{
        .menu-item{
          -webkit-box-flex:1;
          -webkit-flex:1;
          -ms-flex:1;
          flex:1;
        }
      }
    }
    .left-menu-container{
      ul{
        -webkit-box-pack:start;
        -webkit-justify-content:flex-start;
        -ms-flex-pack:start;
        justify-content:flex-start;
      }
    }
    .right-menu-container{
      ul{
        -webkit-box-pack:end;
        -webkit-justify-content:flex-end;
        -ms-flex-pack:end;
        justify-content:flex-end;
        .menu-item{
          a{
            text-align: center;
          }
          &:last-child{
            a{
              text-align: right;
            }
          }
        }
      }
    }
    ul {
    padding: 0;
      margin: 0;
      list-style-type: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      .menu-item{
        padding: 20px 15px;
        width: auto;
        a{
          color:#fff;
          text-transform: uppercase;
          text-decoration: none;
          padding:10px;
          display: block;
          font-family: 'aniuk';
          font-weight: 700;
          font-size: 18px;
          @media screen and (min-width: 992px){
            font-size: 22px;
          }
          &:hover{
            color:#5D4526;
          }
        }
        &.active{
          a{
            color:#5D4526;
          }
        }
      }
    }
  }
}


/*---------------------Translation nav------------------------------*/
.translation-nav{
  padding: 30px 0;
}


/*--------------------Mobile menu-----------------------------------*/

.main-wrapper{
  padding-top:80px;
  @media screen and (min-width:768px){
    padding-top: 0;
  }
}

.mobile-menu-container {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  //border-top: 1px solid #705134;
  border-bottom: 1px solid #705134;
  &:after,&:before{
    position: absolute;
    content: '';
    display: block;
    background: url(assets/images/dotted-border.png);
    background-size: contain !important;
    height: 4px;
    width: 100%;
    background-repeat: repeat-x;
    left: 0;
  }
  &:after{
    bottom: 5px;
  }
  &:before{
    top: 5px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-content-wrapper {
  background: #D0C2DF;
  padding: 15px 5px;
}

//mobile menu open button

.menu-button-wrapper {
  font-size: 0;
  padding: 0 15px;
  .mobile-button {
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    &:focus, &:active {
      outline: none;
      border: 0;
      box-shadow: none;
    }
    i {
      font-size: 30px;
      color: #fff;
    }
  }
}

//mobile menu close
.close-nav {
  opacity: 0;
  width: 26px;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 9999;
  right: 20px;
  top: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-out 0s;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
  &:focus, &:active {
    outline: none;
    border: 0;
    box-shadow: none;
  }
  &.visible {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    span {
      width: 3px;
      height: 26px;
      background: #fff;
      display: block;
      &.hamb-top {
        -webkit-transform: translate(13px, 13px) rotate(45deg);
        -ms-transform: translate(13px, 13px) rotate(45deg);
        transform: translate(13px, 13px) rotate(45deg);
      }
      &.hamb-bottom {
        -webkit-transform: translate(13px, -13px) rotate(-45deg);
        -ms-transform: translate(13px, -13px) rotate(-45deg);
        transform: translate(13px, -13px) rotate(-45deg);
      }
    }
  }
}


//mobile logo

.mobile-logo-container{
  padding: 0 20px;
  position: absolute;
  right: 0;
  z-index: 10;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  a{
    display: block;
    img{
      max-width: 100px;
    }
  }
}

.mobile-logo-wrapper {
  padding: 0 15px;
}

//mobile menu
.mobile-menu-wrapper {
  position: fixed;
  left: 0px;
  top: 0;
  width: 280px;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  padding: 45px 15px 15px;
  background: #D0C2DF;
  z-index: 9000 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -ms-transform: translateX(-280px);
  -webkit-transform: translate3d(-280px, 0, 10px);
  transform: translate3d(-280px, 0, 10px);
  &.visible {
    left: 0;
    -ms-transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-logo-container {
    margin: 20px 0;
  }
}

.main-mobile-menu-container{
  ul{
    padding: 30px 0 0 0;
    margin: 0;
    list-style-type: none;
    &:last-child{
      padding-top: 0;
    }
    .menu-item{
      a{
        color:#fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        display: block;
        font-family: 'aniuk';
        font-weight: 700;
        font-size: 18px;
      }
      &.logo-item{
        display: none;
      }
    }
  }
}
