
/*---------------------Main banner-----------------------------------*/

.hero-banner-wrapper{
  padding:50px 0 165px;
  @media screen and (min-width: 576px){
    padding: 50px 0;
  }
}



/*---------------------Banner content-----------------------------------------*/

.box-content-wrapper {
  position: absolute;
  overflow: hidden;
  height: auto;
  width: 100%;
  margin-top: -70px;
  right: 0;
  left: auto;
  top: auto;
  border: 3px solid #fff;
  border-radius: 10px;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
  -moz-box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
  box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
  @media screen and (min-width: 576px) {
    height: calc(100% + 26px);
    width: 240px;
    right: 0;
    top: -13px;
    left: auto;
    margin-top: 0;
  }
  @media screen and (min-width: 768px) {
    width: 300px;
  }
  @media screen and (min-width: 992px) {
    width: 380px;
  }
  &.left-content-box {
    right: auto;
    left: 0;
  }
  .box-content-container {
    height: 100%;
    z-index: 10;
    position: relative;
    text-align: center;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 35px 15px;
    @media screen and (min-width: 576px) {
      padding: 0;
    }
  }
  .title {
    margin: 0;
    font-family: 'margueriteregular';
    color: #fff;
    font-size: 45px;
    text-shadow: 3px -2px 0px #5D4526;
    font-weight: 400;
    line-height: 1.5;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    @media screen and (min-width: 768px) {
      font-size: 80px;
    }
    @media screen and (min-width: 992px) {
      font-size: 100px;
      text-shadow: 7px -2px 0px #5D4526;
    }
  }
  .text-block {
    font-family: 'aniukbold';
    font-weight: 700;
    font-size: 16px;
    color: #442B1E;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
    a {
      color: #442B1E;
    }
    table {
      margin: 0 auto;
      tr {
        td {
          color: #442B1E;
          text-transform: uppercase;
          font-family: 'aniukbold';
          font-weight: 700;
          font-size: 16px;
          padding-left: 10px;
          line-height: 1.7;
          @media screen and (min-width: 768px) {
            font-size: 18px;
          }
          @media screen and (min-width: 992px) {
            font-size: 20px;
          }
          &:first-child {
            position: relative;
            padding-right: 25px;
            padding-left: 0;
            &:after {
              content: '';
              position: absolute;
              display: block;
              height: 2px;
              width: 15px;
              background: #442B1E;
              top: 50%;
              right: 0;
              -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
          }
        }
      }
    }
  }
}

/*--------------------Wide box------------------------------------*/
.wide-border-box {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    border-image: url('assets/images/wide-inner-border.png') 40 round;
    -webkit-border-image: url('assets/images/wide-inner-border.png') 40 round;
    -o-border-image: url('assets/images/wide-inner-border.png') 40 round;
    border-width: 20px;
    border-color: transparent;
    border-style: solid;
    z-index: 9;

  }
}

.wide-inner-border {
  padding: 3px;
}

.box-bg-container {
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    display: block;
    height: 15px;
    width: 15px;
    background: #fff;
    z-index: 9;
  }
  &:after {
    top: 0;
  }
  &:before {
    bottom: 0;
  }
  &.right-content {
    @media screen and (min-width: 576px) {
      padding-right: 25%;
    }
    &:after, &:before {
      left: 0;
    }
    &:after {
      border: 6px solid #fff;
      border-radius: 0 0 100px 0;
    }
    &:before {
      border: 6px solid #fff;
      border-radius: 0 0 0 100px;
      right: 0;
      left:auto;
      top:0;
      @media screen and (min-width: 576px) {
        left: 0;
        right: auto;
        top:auto;
        border-radius: 0 100px 0 0;
      }
    }
  }
  &.left-content {
    @media screen and (min-width: 576px){
      padding-left: 25%;
    }
    &:after, &:before {
      right: 0;
    }
    &:after {
      border: 6px solid #fff;
      border-radius: 0 0 0 100px;
    }
    &:before {
      border: 6px solid #fff;
      border-radius: 0 0 100px 0;
      right: auto;
      left:0;
      top:0;
      @media screen and (min-width: 576px){
        border-radius: 100px 0 0 0;
        right: 0;
        left:auto;
        top:auto;
      }
    }
  }
  .box-image {
    min-height: 250px;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    @media screen and (min-width: 768px) {
      min-height: 300px;
    }
    @media screen and (min-width: 992px) {
      min-height: 400px;
    }
  }
}

/*-----------------------End wide box----------------------------------------*/

.border-box {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  height: auto;
  margin: 0 auto 25px;
  max-width: 270px;
  min-height: 300px;
  @media screen and (min-width: 768px) {
    max-width: 350px;
  }
  @media screen and (min-width: 992px) {
    margin: 0 15px;
    max-width: 100%;
    min-height: initial;
    height: 100%;
  }
}

.inner-border-box {
  border-image: url('assets/images/box-content-border.png') 18 round;
  -webkit-border-image: url('assets/images/box-content-border.png') 18 round;
  -o-border-image: url('assets/images/box-content-border.png') 18 round;
  border-width: 16px;
  border-color: transparent;
  border-style: solid;
  height: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  @media screen and (min-width: 992px) {
    display: block;
  }
}

/*----------------Icon box section---------------------------------*/

.icon-boxes-section {
  .border-box {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .box-content {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.box-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}

.icon-box {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 20px;
  img {
    margin: 0 auto;
  }
}

.button-box-wrapper {
  position: relative;
  padding: 0 20px;
  margin-bottom: -25px;
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 50%;
    width: calc(100% + 100px);
    top: 50%;
    left: -50px;
    background: #CDBFDB;
    z-index: 1;
    transform: translate(0, -50%);
  }
  &:before {
    position: absolute;
    content: '';
    right: -49px;
    bottom: 10px;
    display: block;
    border: 7px solid transparent;
    border-left: 12px solid #B6A3CC;
    border-top: 5px solid #B6A3CC;

  }
}

.button-box {
  text-align: center;
  border-image: url('assets/images/button-outer-border.png') 15 round;
  -webkit-border-image: url('assets/images/button-outer-border.png') 15 round;
  -o-border-image: url('assets/images/button-outer-border.png') 15 round;
  border-width: 12px;
  border-color: transparent;
  border-style: solid;
  position: relative;
  z-index: 3;
  &:before {
    position: absolute;
    content: '';
    left: -83px;
    bottom: -2px;
    display: block;
    border: 7px solid transparent;
    border-right: 12px solid #B6A3CC;
    border-top: 5px solid #B6A3CC;

  }
  a {
    display: block;
    //background: #FBD6B1;
    background-image: url('assets/images/button-bg.png');
    background-position: center center !important;
    background-size: 100% 55px !important;
    background-repeat: no-repeat !important;
    margin-top: -2px;
    margin-bottom: 1px;
    color: #5D4526;
    font-family: 'aniuk';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    padding: 20px 10px 17px;
    &:hover{
      background-image: url('assets/images/button-hover.png');
    }
    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }
}

/*----------------------------Contact Section------------------------------------*/

.contact-section {
  padding:25px 0 220px;
 @media screen and (min-width: 576px){
   padding: 50px 0;
 }
  .wide-border-box{
    padding: 19px;
  }
  .box-content-container {
    .title {
      text-shadow: 3px -1px 0px #5D4526;
      font-size: 30px;
      @media screen and (min-width: 768px) {
        font-size: 40px;
      }
      @media screen and (min-width: 992px) {
        font-size: 55px;
        text-shadow: 7px -2px 0px #5D4526;
      }
    }
  }
  .gmpMapDetailsContainer, .gmp_MapPreview {
    height: 300px !important;
    button {
      display: none !important;
    }
    @media screen and (min-width: 992px) {
      height: 400px !important;
    }
    div {
      background: transparent !important;
      box-shadow: none !important;
      border: 0 !important;
    }
    .egm-marker-iw {
      img {
        margin: 0 auto;
      }
    }
    .gm-style {
      font-family: 'margueriteregular';
      .gmpInfoWindowtitle {
        font-size: 24px !important;
        line-height: 1 !important;
        margin: 0;
        padding: 25px 0 0 0;
        font-weight: 400 !important;

        height: 200px !important;
        bottom: -20px !important;
        z-index: 99999 !important;
        a{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          color:rgb(218, 232, 245);
          top: 30%;
          &:active,&:hover{
            color:rgb(218, 232, 245);
          }
        }
        @media screen and (min-width: 768px){
          font-size: 34px !important;
        }
      }
      .gm-style-iw {
        height: auto !important;
        width: 180px !important;
        text-align: center;
        -webkit-transform: translate(10%, 50%);
        -ms-transform: translate(10%, 50%);
        transform: translate(10%, 50%);
        @media screen and (min-width: 768px){
          width: 225px !important;
        }
        & > div {
          overflow: hidden !important;
          display: block !important;
          &:last-child {
            display: none !important;
          }
        }
      }
      & > div {
        & > div {
          &:first-child {
            & > div {
              & > div {
                & > div {
                  &:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                    left: 0;
                    top: 0;
                    z-index: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .gm-style-iw + div {
      display: none;
    }
  }
  .gmnoprint, .gmnoscreen, .gm-style-cc {
    display: none;
  }
}

.map-box{
  position: relative;
  z-index: 99;
}

.welcome-box{
  z-index: 999;
}

/*--------------------------Popup Form-------------------------------------------------*/

.mfp-close {
  display: none !important;
}

.mfp-bg {
  &.mfp-ready {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}

.close-popup {
  font-family: 'aniukbold', sans-serif;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: -20px;
}

.popup-form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  &.delivery-popup-wrapper{
    max-width: 665px;
  }
  .border-box {
    border-radius: 5px;
    background-color: #CFC1DE;
    color: #fff;
    max-width: 100%;
    .inner-border-box {
      border-image-repeat: inherit;
      @media screen and (max-width: 480px) {
        border-image-repeat: inherit;
      }
    }
    .form-description {
      font-family: 'aniukbold', sans-serif;
      font-size: 18px;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 25px;
      @media screen and (max-width: 480px) {
        font-size: 14px;
        padding: 0 5px;
        margin-bottom: 20px;
      }
    }
    .button-box-wrapper {
      margin-bottom: 0;
      margin-top: 25px;
      &:after {
        background: #B5D4CF;
      }
      &:before {
        border-left: 12px solid #B5D4CF;
        border-top: 5px solid #B5D4CF;
        bottom: 7px;
      }
      .button-box {
        max-width: 200px;
        margin: 0 auto;
        input[type="submit"] {
          display: block;
         // background: #FBD6B1;
          background: url('assets/images/button-bg.png');
          background-position: center center !important;
          background-size: 100% 55px !important;
          background-repeat: no-repeat !important;
          color: #5D4526;
          font-family: 'aniuk';
          font-weight: 700;
          text-transform: uppercase;
          font-size: 18px;
          line-height: 1;
          padding: 20px 20px 15px;
          border: 0;
          width: 100%;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
        &:before {
          display: none;
        }
      }
      .inner-button-box {
        position: relative;
        &:before {
          position: absolute;
          content: '';
          left: -70px;
          bottom: 7px;
          display: block;
          border: 7px solid transparent;
          border-right: 12px solid #B5D4CF;
          border-top: 5px solid #B5D4CF;
        }
      }
    }
    .mc4wp-form-fields {
      label {
        text-transform: uppercase;
        font-family: 'aniuk';
        font-weight: 700;
      }
      .form-field {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 15px;
        padding: 0 20px;
        @media screen and (max-width: 480px) {
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0 5px;
        }
        label {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 130px;
          -ms-flex: 0 0 130px;
          flex: 0 0 130px;
          @media screen and (max-width: 480px) {
            width: 100%;
            margin-bottom: 5px;
            font-size: 14px;
          }
        }
        input, select {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          border: 1px solid #5C4420;
          border-radius: 3px;
          padding: 8px 5px;
          font-family: 'aniuk';
          font-weight: 400;
          color: #5D4526;
          font-family: 'aniuk';
          font-weight: 700;
          font-size: 16px;
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}

/*-----------------------------Delivery popup------------------------------------------*/
.delivery-popup-container {
  .inner-border-box {
    border-image-repeat: inherit !important;
    min-height: initial;
  }
  .border-box{
    min-height: initial !important;
  }
}

.popup-simple-text {
  font-family: 'aniukbold', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  a{
    color:inherit;
  }
  @media screen and (max-width: 480px){
    padding:20px 0;
  }
  p {
    margin-top: 0;
  }
}

.contact-info-block{
  &.text-block{
    font-family: 'Arsenal', sans-serif;
  }
}