@import url("assets/grid/grid.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("assets/magnific-popup/magnific-popup.css");
@import url("https://fonts.googleapis.com/css?family=Arsenal:400,700");


/*-----------------------Katherines title----------------------------------------*/


.border-box-katherines-cookies {
    width: 656px;
    height: 414px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin: 130px auto 5px auto;
}

.border-box-katherines-cookies .katherines-cookies_title{
    width: 350px;
    margin: 0 auto;
    padding-top: 110px;
}
.border-box-katherines-cookies .katherines-cookies_title img{
    max-width: 100%;
    width: 350px;
    height: 120px;
}
.border-box-katherines-cookies .katherines-cookies_information p{
    font-size: 36px;
    color: #815739;
    line-height: 45px;
    text-align: center;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}



/*-----------------------Story----------------------------------------*/



.our-story{
    padding-top: 0;
}
.our-story .our-story_title{
    width: 615px;
    height: 175px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    margin: 0 auto 70px auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
.our-story  .our-story_title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.our-story .our-story_content{
    background-color: #bfe2db;
    position: relative;
    top: -15%;
    z-index: 1;
    padding-bottom: 30px;

}
.our-story_content{
    display: flex;
    justify-content: center;
    padding-top: 140px;
    flex-wrap: wrap;
    flex-direction: row;
}

.our-story_content .our-story_item{
    width: 235px;
    margin-bottom: 50px;
}

.our-story_content .item_line{
    width: 166px;

}
.our-story_content .item_line img {
    margin: 40% auto;
}



.our-story_content .our-story_item .our-story_circle{
    width: 125px;
    height: 125px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
}
.our-story_content .our-story_item .our-story_circle{
    background-color: #fdd7b1;
}
.our-story_content .our-story_item .purple{
    background-color: #d0c2df;
}

.our-story_circle p{
    font-family: 'margueriteregular';
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}
.our-story_circle img{
    width: 70px;
    height: 65px;
    max-width: 100%;
    margin: 0 auto;
}
.our-story_item_info h3{
    font-size: 36px;
    line-height: 45px;
    color: #815739;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 10px auto 0;
}
.our-story_item_info p{
    font-size: 24px;
    line-height: 30px;
    color: #815739;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 20px auto;
}
.our-story_circle .hands_item{
    width: 120px;
    height: 80px;
    margin: -8px auto;
}



/*-----------------------Vision----------------------------------------*/

.vision{
    background: #d0c2df;
}
.vision_wrapper {
    display: flex;
    margin-top: 65px;
}
.vision_wrapper .vision_left{
    width: 650px;
    height: 318px;
    margin-bottom: 58px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;


}
.vision_wrapper .vision_left .vision_title img{
    margin: 0 auto;
}
.vision_wrapper .vision_left .vision_title{
    padding-top: 35px;
    padding-bottom: 50px;
}
.vision_wrapper .vision_left  .vision_text p{
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 0 135px;
}
.vision_wrapper .vision_right img {
    position: absolute;
    top: 0;
    margin-top: -8%;
    right: 0;
    margin-right: -14%;
}



/*-----------------------Why_katherines----------------------------------------*/


.why_katherines{
    min-height: 680px;
}
.why_katherines__wrapper{
    width: 1000px;
    margin: 0 auto;
}
.why_katherines__title{
    width: 1000px;
    height: 390px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}
.why_katherines__title img{
    padding-top: 44px;
    margin: 0 auto;
}
.why_katherines__content{
    display: flex;
    width: 980px;
    justify-content: space-around;
    margin: -181px auto;
    z-index: 2;
    position: relative;
}
.why_katherines__content .why_katherines__item{
    width: 166px;
    height: 402px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.why_katherines__content .why_katherines__item .why_katherines__item__icon {
    height: 166px;
    widows: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.why_katherines__content .why_katherines__item .specialty{
    background: #9dd4d7;
    position: relative;

}

.why_katherines__content .why_katherines__item .specialty:after{
    content: '';
    position: absolute;
    border: 15px solid transparent;	border-top: 15px solid #9dd4d7;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.why_katherines__item__pict{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.why_katherines__item__pict img{
    width: 57px;
    height: 57px;
}
.why_katherines__content .why_katherines__item .variety{
    background: #47bcce;
    position: relative;
}
.why_katherines__content .why_katherines__item .variety:after{
    content: '';
    position: absolute;
    border: 15px solid transparent;	border-top: 15px solid #47bcce;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.why_katherines__content .why_katherines__item .quality{
    background: #8dc79e;
    position: relative;
}
.why_katherines__content .why_katherines__item .quality:after{
    content: '';
    position: absolute;
    border: 15px solid transparent;	border-top: 15px solid #8dc79e;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.why_katherines__content .why_katherines__item .freshness{
    background: #e4d8c0;
    position: relative;
}
.why_katherines__content .why_katherines__item .freshness:after{
    content: '';
    position: absolute;
    border: 15px solid transparent;	border-top: 15px solid #e4d8c0;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.why_katherines__content .why_katherines__item  .innovation{
    background: #b1a180;
    position: relative;
}
.why_katherines__content .why_katherines__item .innovation:after{
    content: '';
    position: absolute;
    border: 15px solid transparent;	border-top: 15px solid #b1a180;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.why_katherines__item__title h3{
    font-size: 24px;
    line-height: 30px;
    color: #815739;
    font-family: 'aniukbold';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 25px;
}
.why_katherines__item__title p{
    margin: 0 12px;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #815739;
    text-align: center;
}





/*-----------------------Strategy----------------------------------------*/

.strategy__left {
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
    height: auto;
    left: auto;
    margin-top: 40px;
    moz-box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: auto;
    webkit-box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
    width: 100%;
    z-index: 10;
    right:  auto;
    margin-top: 0;
    right: 0;
    top: -13px;
    width: 555px;
}
.strategy__left_container{
    background-color: #BFE2DB;
}
.strategy__left_container .title {
    font-size: 55px;
    text-shadow: 7px -2px 0px #fff;

}
.strategy__left_container .title h3{
    color: #815739;
    font-family: 'margueriteregular';
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}
.strategy_wrapper{
    width: 945px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    position: relative;
    height: 640px;
}
.strategy__left_container .information{
padding-bottom: 30px;
}
.strategy__left_container .information_item{
    display: flex;
    height: 108px;
}
.strategy__left_container .information_item .col-left{
    margin-right: 30px;
    width: 166px;
    }
.strategy__left_container .information_item .col-left p{
    color: #815739;
    font-size: 28px;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    text-align: right;
}
.strategy__left_container .information_item .col-right{
    width: 50%;
}
.strategy__left_container .information_item .col-right p{
    color: #815739;
    font-size: 18px;
    font-family: 'arsenal';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.strategy_wrapper:after{
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    border-image: url(assets/images/wide-inner-border.png) 40 round;
    -webkit-border-image: url(assets/images/wide-inner-border.png) 40 round;
    -o-border-image: url(assets/images/wide-inner-border.png) 40 round;
    border-width: 20px;
    border-color: transparent;
    border-style: solid;
    z-index: 9;
}



.strategy_wrapper .strategy_container{
    padding-left: 45%;

}
.strategy_wrapper .strategy_container .right-content:before {
    border-radius: 100px 0 0 0;
    left: auto;
    right: 0;
    top: auto;
}
.strategy_wrapper .strategy_container .right-content:after {
    background: #fff;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: 9;
    border: 6px solid #fff;
    border-radius: 0 0 0 100px;
}
.strategy_wrapper .strategy_container .right-content .strategy-image{
    min-height: 600px;
    background-position: right;
}
.strategy_wrapper .strategy_container  .strategy-bg-container{
    padding: 20px;
    position: relative;
    width: 520px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.strategy_wrapper .strategy_container .strategy-bg-container:before{
    border-radius: 100px 0 0 0;
    left: auto;
    right: 20px;
    top: auto;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    border: 6px solid #fff;
    background: #fff;
    width: 15px;
    z-index: 9;
    bottom: 20px;
}
.strategy_wrapper .strategy_container .strategy-bg-container:after{

    background: #fff;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: 9;
    top: 0;
    border: 6px solid #fff;
    border-radius: 0 0 0 100px;
}


/*-----------------------Partners----------------------------------------*/

.partners{

}
.partners-bg-container{
    width: 620px;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
    height: auto;
    left: auto;
    margin: 40px auto;
    webkit-box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.55);
}
.partners-bg-container .partners-title{
    background-color: #BFE2DB;
    font-size: 55px;
    text-shadow: 7px -2px 0px #815739;
}
.partners-bg-container .partners-title h3{
    color: #fff;
    font-family: 'margueriteregular';
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.partners_slider{
    display: flex;
}
.partners_slider .partners_item{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #bfe2db;
    position: relative;
}
.partners_slider .partners_item img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    display: block;
    width: auto !important;
}
.partners_slider .owl-nav {
    margin: 40px auto;
    position: relative;
    background: url(img/catering/block7/backg2.png) no-repeat;
    width: 110px;
    height: 78px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block;
}

.partners_slider .owl-nav button.owl-next{
    background: url(img/catering/arrow_white.svg) no-repeat;
    height: 30px;
    width: 24px;
    left: 0%;
    top: 0;
    margin-top: 20px;
    margin-left: 65px;
    background-size: cover;

}
.partners_slider .owl-nav button.owl-next:hover{
    background: url(img/catering/arrow.svg) no-repeat;
    background-repeat: no-repeat;
    height: 30px;
    width: 17px;
    margin-left: 73px;
}
.partners_slider .owl-nav button.owl-prev {
    background: url(img/catering/arrow_white.svg) no-repeat;
    background-repeat: no-repeat;
    left: 0;
    margin-top: 20px;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    margin-left: 20px;
    height: 30px;
    width: 24px;
    background-size: cover;
}
.partners_slider .owl-nav button.owl-prev:hover {
    background: url(img/catering/arrow.svg) no-repeat;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    height: 30px;
    width: 17px;
}
.partners_slider{
    width: 985px;
    margin: 0 auto;
}