@media (max-width: 1880px) {

}

@media (max-width: 1600px) {
    .our-story_content .item_line {
        width: 166px;
    }
    .our-story_content .item_line img {
        margin: 40% auto;
    }
    .our-story_content .our-story_item:nth-child(1){
        order: 1;
    }
    .our-story_content .our-story_item:nth-child(2){
        order: 2;
    }
    .our-story_content .our-story_item:nth-child(3){
        order: 3;
    }
    .our-story_content  .our-story_item:nth-child(4){
        order: 4;
    }
    .our-story_content .our-story_item:nth-child(5){
        order: 5;
    }
    .our-story_content  .our-story_item:nth-child(6){
        order: 6;
    }
    .our-story_content .our-story_item:nth-child(7){
        order: 7;
    }
    .our-story_content .our-story_item:nth-child(8){
        order: 8;
    }
    .our-story_content .our-story_item:nth-child(9){
        order: 9;
    }
    .our-story_content  .our-story_item:nth-child(10){
        order: 10;
    }
    .vision_wrapper{
        overflow-x: hidden;
    }
}
@media (max-width: 1199px) {
    .our-story_content .item_line img {
        margin: 50% auto;
    }

    .our-story_content .item_line img {
        margin: 50% auto;
    }

    .our-story_content .item_line {
        width: 115px;
    }

    .border-box-katherines-cookies {
        margin: 50px auto 5px auto;
    }
    .vision_wrapper .vision_right img {
        position: absolute;
        top: 0;
        margin-top: -8%;
        right: -155px;
        margin-right: 0;
        max-width: 68%;
    }
    .vision_wrapper .vision_left {
        width: 550px;
        height: 269px;
    }
    .vision_wrapper .vision_left .vision_text p {
        margin: 0 70px;
    }
    .vision_wrapper .vision_left .vision_title {
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

@media (max-width: 1023px) {
    .vision_wrapper .vision_right img {
        position: inherit;
        max-width: 80%;
        margin: -8% auto;
    }

    .vision_wrapper {
        display: block;
    }

    .vision_wrapper .vision_left {
        margin: 0 auto;
    }
    .vision{
        padding-bottom: 0;
    }
    .why_katherines__content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .why_katherines__wrapper {
        width: 100%;
    }
    .why_katherines__title {
        width: 100%;
        height: 270px;
    }
    .why_katherines__content {
        margin: -100px auto 0;
    }
    .why_katherines__content {
        display: flex;
        width: 80%;
    }
    .why_katherines__content .why_katherines__item {
        margin-bottom: 30px;
    }
    .strategy__left {
        width: 370px;
    }
    .strategy_wrapper {
        width: 100%;
    }
    .strategy_wrapper .strategy_container {
        padding-left: 24.5%;
    }
    .strategy_wrapper .strategy_container .right-content .strategy-image {
        min-height: 490px;
        background-position: right;
        background-size: cover;
    }
    .strategy_wrapper {
        height: 532px;
    }
    .strategy__left_container .title h3 {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .strategy__left_container .information_item .col-left p {
        font-size: 24px;
        line-height: 28px;
    }
    .strategy__left_container .information_item .col-left {
        margin-right: 25px;
        width: 130px;
    }
    .strategy__left_container .information_item .col-right p {
        font-size: 16px;
        line-height: 20px;
    }
    .strategy__left_container .information {
        padding-bottom: 20px;
    }
    .partners_slider{
        width: 100%;
    }
    .partners-bg-container .partners-title h3 {
        padding-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .box-content-wrapper .title
    {
        font-size: 80px;
    }
    .our-story_content .our-story_item:nth-child(5) {
        order: 4;
    }

    .our-story_content .our-story_item:nth-child(4) {
        order: 5;
    }
    .our-story_content .our-story_item:nth-child(1){
        order: 1;
    }
    .our-story_content .our-story_item:nth-child(2){
        order: 2;
    }
    .our-story_content .our-story_item:nth-child(3){
        order: 3;
    }
    /*.our-story_content .our-story_item:nth-child(8) {*/
    /*display: none;*/
    /*}*/
    .our-story_content  .our-story_item:nth-child(6){
        order: 6;
    }
    .our-story_content .our-story_item:nth-child(7){
        display: none;
    }
    .our-story_content .our-story_item:nth-child(8){
        order: 8;
    }
    .our-story_content .our-story_item:nth-child(9){
        order: 9;
    }
    .our-story_content  .our-story_item:nth-child(10){
        order: 10;
    }
}
@media (max-width: 767px) {
    .partners-bg-container {
        width: 100%;
    }
    .partners_slider .partners_item {
        margin: 0 auto;
    }
    .border-box-katherines-cookies {
        width: 103%;
        height: 330px;
    }
    .partners {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .partners_slider .owl-nav {
        margin: 30px auto;
    }
    .our-story .our-story_title {
        width: 100%;
        height: 145px;
    }

    .border-box-katherines-cookies .katherines-cookies_title {
        padding-top: 70px;
    }

    .our-story .our-story_title {
        margin: 0 auto 25px auto;
    }

    .our-story .our-story_content {
        top: 0;
    }

    .our-story_content {
        display: flex;
        padding-top: 40px;
    }

    .our-story_content .our-story_item:nth-child(2), .our-story_content .our-story_item:nth-child(4), .our-story_content .our-story_item:nth-child(7), .our-story_content .our-story_item:nth-child(9) {
        display: none;
    }

    .our-story_content .our-story_item {
        margin-bottom: 30px;
    }

    .our-story .our-story_content {
        padding-bottom: 0;
    }

    .border-box-katherines-cookies {
        margin-top: 0;
    }

    .vision_wrapper .vision_left {
        width: 100%;
        height: 250px;
    }

    .vision_wrapper .vision_left .vision_text p {
        font-size: 20px;
        line-height: 24px;
        margin: 0 35px;
    }
    .vision_wrapper .vision_left .vision_title {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .why_katherines__title {
        width: 100%;
        height: 195px;
        margin: 0 auto;
    }
    .why_katherines__title img{
        max-width: 85%;
    }
    .why_katherines__content {
        margin: 25px auto 0;
    }
    .strategy__left {
        width: 370px;
        position: relative;
    }
    .strategy_wrapper .strategy_container{
        padding-left: 0;
    }
    .strategy_wrapper .strategy_container .strategy-bg-container {
        padding: 20px;
        position: relative;
        width: 100%;
    }
    .strategy_wrapper {
        width: 100%;
    }
    .strategy__left {
        width: 100%;
        position: relative;
    }
    .strategy__left{
        margin-top: 0;
        width: 100%;
        position: static;
        /*height: auto;*/
    }
    .strategy_wrapper {
        margin-bottom: 560px;
    }
    .strategy__left_container .information_item .col-left {
        margin-right: 25px;
        width: 170px;
    }
    .strategy__left {
        margin-top: 40px;
    }
}
@media (max-width: 576px) {
    .strategy_wrapper .strategy_container .right-content .strategy-image {
        min-height: 380px;
    }
    .strategy__left_container .information_item .col-left {
        margin-right: 25px;
        width: 85px;
    }

    .border-box-katherines-cookies .katherines-cookies_title {
        padding-top: 52px;
    }
    .border-box-katherines-cookies {
        width: 450px;
        height: 282px;
        margin-top: 0;

    }
    .our-story .our-story_title {
        width: 451px;
        height: 125px;
    }
    .border-box-katherines-cookies .katherines-cookies_title img {
        max-width: 100%;
        width: 310px;
    }
    .our-story_content .our-story_item:nth-child(5) {
        order: 4;
    }

    .our-story_content .our-story_item:nth-child(4) {
        display: none;
    }
    .our-story_content .our-story_item:nth-child(1){
        order: 1;
    }
    .our-story_content .our-story_item:nth-child(2){
        display: none;
    }
    .our-story_content .our-story_item:nth-child(3){
        order: 3;
    }
    /*.our-story_content .our-story_item:nth-child(8) {*/
    /*display: none;*/
    /*}*/
    .our-story_content  .our-story_item:nth-child(6){
        order: 6;
    }
    .our-story_content .our-story_item:nth-child(7){
        display: none;
    }
    .our-story_content .our-story_item:nth-child(8){
        order: 8;
    }
    .our-story_content .our-story_item:nth-child(9){
        display: none;
    }
    .our-story_content  .our-story_item:nth-child(10){
        order: 10;
    }
    .vision_wrapper .vision_left {
        width: 450px;
        height: 220px;
        margin: 0 auto;
    }
    .vision_wrapper .vision_left .vision_title {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .vision_wrapper .vision_right img {
        position: inherit;
        max-width: 80%;
        margin: -5% auto 0;
    }
    .why_katherines__title {
        width: 450px;
        height: 173px;
        margin: 0 auto;
    }
    .strategy__left_container .information_item .col-right {
        width: 63%;
    }
    .strategy_wrapper {
        height: 420px;
        margin-bottom: 560px;
    }
    .strategy__left {
        margin-top: 30px;
    }

}
@media (max-width: 480px) {
    .strategy_wrapper {
        height: 420px;
        margin-bottom: 560px;
    }
    .strategy__left_container .information_item .col-left p {
        font-size: 20px;
        line-height: 25px;
    }
    .strategy__left_container .information_item .col-left {
        margin-right: 25px;
        width: 95px;
    }
    .strategy__left_container .information_item .col-right p {
        font-size: 15px;
        line-height: 20px;
    }
    .strategy__left {
             margin-top: 30px;
         }
    .border-box-katherines-cookies .katherines-cookies_title {
        padding-top: 65px;
        width: 320px;
    }

    .border-box-katherines-cookies .katherines-cookies_title img {
        max-width: 100%;
        width: 220px;
        height: 70px;
    }

    .border-box-katherines-cookies .katherines-cookies_title {
        width: 220px;
    }

    .border-box-katherines-cookies .katherines-cookies_information p {
        font-size: 22px;
        line-height: 28px;
    }

    .border-box-katherines-cookies {
        width: 290px;
        height: 185px;
    }

    .border-box-katherines-cookies .katherines-cookies_title {
        padding-top: 37px;
    }

    .our-story .our-story_title {
        width: 290px;
        height: 85px;
    }

    .our-story .our-story_title img {
        max-width: 70%;
    }

    .our-story_item_info h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .our-story_item_info p {
        font-size: 20px;
        line-height: 26px;
    }

    .vision_wrapper .vision_left {
        width: 290px;
        height: 142px;
        margin: 0 auto;
    }

    .vision_wrapper .vision_left .vision_text p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 20px;
    }

    .vision_wrapper .vision_left .vision_title img {
        margin: 0 auto;
        max-width: 40%;
    }

    .vision_wrapper .vision_left .vision_title {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .vision_wrapper {
        margin-top: 0;
    }

    .vision_wrapper .vision_right img {
        margin: 20px auto 0;
    }

    .why_katherines__title {
        width: 290px;
        height: 113px;
        margin: 0 auto;
    }

    .why_katherines__title img {
        padding-top: 32px;
        margin: 0 auto;
    }

    .why_katherines__content .why_katherines__item {
        width: 100%;
        display: flex;
        height: auto;
    }

    .why_katherines__content .why_katherines__item .why_katherines__item__icon {
        width: 50%;
    }

    .why_katherines__item__title {
        width: 50%;
    }

    .why_katherines__content {
        display: flex;
        width: 290px;
    }

    .why_katherines__item__title h3 {
        font-size: 22px;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .why_katherines__item__title p {
        font-size: 16px;
        line-height: 20px;
    }
    .why_katherines__content .why_katherines__item .specialty:after, .why_katherines__content .why_katherines__item .variety:after, .why_katherines__content .why_katherines__item .quality:after, .why_katherines__content .why_katherines__item .freshness:after, .why_katherines__content .why_katherines__item .innovation:after {
        bottom: 42%;
        left: inherit;
        right: -30px;
        transform: rotate(270deg);
    }
    .why_katherines__item__pict img {
        width: 80px;
        height: 80px;
    }
    .our-story_content .our-story_item{
        display: flex;
        justify-content: center;
    }
    .our-story_content .our-story_item {
        width: 100%;
    }
    .our-story_item_info{
        width: 44%;
    }
    .our-story_content .our-story_item .our-story_circle{
        margin: 0;
    }
    .our-story_item_info p {
        font-size: 18px;
        line-height: 24px;
    }
    .our-story_content .our-story_item .our-story_circle {
        margin: 0 15px 0 0;
    }
    .strategy__left_container .information_item .col-right {
        width: 50%;
    }
}