/*
	Theme Name: Katherines
	Theme URI:
	Description: Katherines WordPress Theme
	Version: 1.0.0
	Author: 
	Author URI: 
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/*Dev - 2 CSS*/
.box-content-wrapper .text-block table tr td{
	font-family: 'Arsenal', sans-serif;
}

.popup-simple-text{
	font-family: 'Arsenal', sans-serif;
}

.contact-info-block.text-block{
	top: 33px;
    position: relative;
}

.contact-info-block.text-block div,
.box-content-wrapper .text-block table tr td{
	color: #5D4526;
}

.social_net{
	/*display: inline-block;*/
	/*position: relative;*/
    top: 12px;
	margin: 20px auto;
	text-align: center;
}

.social_net a{
	display: inline-block;
	position: relative;
	margin: 0 10px 0;
}

.social_net img{
	width: 40px;
	transition: all 200ms ease-in-out;
}

.social_net .active{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.social_net a:hover img.main{
	opacity: 0;
}

.social_net a:hover img.active{
	opacity: 1;
}

.footer .footer-logo-container .custom-logo-link{
	vertical-align: middle;
}

@media screen and (min-width: 576px){
	.footer .footer-logo-container {
	    width: 100%;
	}
}


#form-popup_thanks .box-content p{
	text-align: center;
    margin: 120px 0;
    font-family: 'Arsenal', sans-serif;
}

.main-menu-wrapper .menu-container .main-logo-container .custom-logo-link img{
	z-index: 999 !important;
}

@media screen and (min-width: 992px){
	.box-content-wrapper .title {
	    font-size: 55px;
	    text-shadow: 7px -2px 0px #5D4526;
	}
}

@media screen and (min-width: 768px){
	.box-content-wrapper .title {
	    font-size: 55px;
	}
}
